# Auto detect text files and perform LF normalization
* text=auto
<!DOCTYPE html>
<html>
  <head>
    <title>Michelle Everingham</title>
  </head>
  <body>
    <h1>This is my website</h1>
    <h2>You can see a further commit now</h2>
    <p>you are smelly, mwahahhahaha</p>
  <body>
</html>
